[core]
  pager = LESSCHARSET=utf-8 less
[color "diff"]
  meta = yellow normal bold
[alias]
  st = status
  ci = commit
  co = checkout
  si = switch
  diffw = diff --word-diff=color
  gerp = grep
[grep]
  lineNumber = true
[svn]
  rmdir = true
[pull]
  rebase = true
[user]
  useConfigOnly = true
[merge]
  stat = false
[absorb]
  maxStack = 20
[push]
  default = upstream
