[core]
  pager = less
[color]
  ui = auto
  grep = always
[color "diff"]
  meta = yellow normal bold
[alias]
  st = status
  ci = commit
  co = checkout
  diffw = diff --word-diff=color
[grep]
  lineNumber = true
[svn]
  rmdir = true
[pull]
  rebase = true
[user]
  useConfigOnly = true
[merge]
  stat = false
