[core]
  pager = less
[color]
  ui = auto
[alias]
  st = status
  ci = commit
  co = checkout
  dci = svn dcommit
  diffw = diff --word-diff=color
[grep]
  lineNumber = true
[svn]
  rmdir = true
[push]
  default = simple
